<div class="resume-body">

    <div class="person-info">
        <div class="head">
            <img class="head-img" src="assets/picture/head.jpg">
        </div>
        <div class="title">
            郑染秋
        </div>
        <div class="info">
            前端开发工程师
        </div>
        <div class="info">
            FIS Global（中国）前端开发工程师
        </div>
        <div class="info">
            foam923@live.cn
        </div>
    </div>
</div>

<div class="resume-tech">
    <div class="tech-info">
        <div class="title">
            技术栈
        </div>
        <div class="tech-chart">
            <div class="tech-chart" #techChart>

            </div>
        </div>
    </div>
</div>

<div class="resume-life">
    <div class="title">
        人生经历
    </div>
    <div class="timeline">
        <nz-timeline>
            <nz-timeline-item [nzColor]="'green'">
                西安电子科技大学 通信工程 本科毕业 2016-07-01</nz-timeline-item>
            <nz-timeline-item [nzColor]="'green'">FIS 入职 前端开发工程师 2016-07-30</nz-timeline-item>
            <nz-timeline-item [nzColor]="'green'">前端开发工程师 至今</nz-timeline-item>
            <nz-timeline-item >...</nz-timeline-item>
            <nz-timeline-item [nzColor]="'red'">前端 webvr/ar 移动端/小程序 架构 Future</nz-timeline-item>
            <nz-timeline-item>...</nz-timeline-item>
        </nz-timeline>`,
    </div>
</div>

<div class="resume-project">
        <div class="title">
            项目经历
        </div>
    </div>
