<div class="resume-body">

    <div class="person-info">
        <div class="head">
           <img class="head-img" src="assets/picture/head.jpg">
        </div>
        <div class="title">
            郑染秋
        </div>
        <div class="info">
            前端开发工程师
        </div>
        <div class="info">
            FIS Global（中国）前端开发工程师
        </div>
        <div class="info">
                foam923@live.cn
            </div>
    </div>
</div>

<div class="resume-tech">
        <div class="tech-info">
            <div class="title">
                技术栈
            </div>
            <div class="tech-chart">
<div class="chart-js" #techChartJs>

</div>
<div class="chart-css" #techChartCss>

</div>
            </div>
        </div>
    </div>
